@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(108deg, #f3fff8 0%, #eafff3 100%);
}

.card {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 20px 0px rgba(14, 88, 48, 0.1);
}

h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.price-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

span {
  font-size: 14px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 500;
}

.range-slider {
  width: 100%;
  position: relative;
  margin: 15px 0 30px 0;
}

.range-fill {
  height: 5px;
  background-color: #36b37e;
  position: absolute;
  z-index: 1;
}
